@include media-breakpoint-up(lg) {
  .product-image__single {
    height: 450px!important;
    max-height: 450px!important;
  }
  .hero {
    background-size: contain!important;
  }
  .top-gap-shop {
    padding-top: 150px;
  }
  .h-lg-200p {
    height: 200px;
  }
  .min-vh-lg-80 {
    min-height: 80vh !important;
  }
  .vh-lg-80 {
    height: 80vh;
  }
  .translate-middle-lg-y {
    transform: translateY(-50%) !important;
  }
  #hero-section {
    height: 600px;
  }
  header {
    min-height: 70px;
  }
}
@include media-breakpoint-down(lg) {
  .product-image__single {
    height: 250px!important;
    max-height: 250px!important;
  }
  .text-sm-primary {
    color: $primary!important;
  }
  .-overflow-x-scroll {
    overflow-x:scroll;
  }
  .search-form {
    border-radius: 15px!important;
  }
  .tagged_as {
    color:white!important;
    a {
      color: white!important;
    }
  }
  .w--lg-auto {
    min-width: 100px;
    width: fit-content!important;
  }
  .-min-vh-lg-60 {
    min-height: 50vh !important;
  }
  body.woocommerce-shop .hero , body.tax-product_cat .hero {
    background-size: 1270px!important;
  }
  body.single-post .hero {
    background-size: 2040px!important;
  }
  body.single-product .hero {
    background-size: 3100px!important;
  }
  #hero-section {
      height: 350px;
  }
  .footer_description {
    color: $dark !important;
    opacity: 0.8;
    text-align: justify;
  }
  .footer-information {
    background-color: $secondary;
  }
  .hero_swiper {
    background-color: rgba(255, 255, 255, 0.85) !important;
  }
  .property p {
    opacity: 1 !important;
  }
  .property-img {
    filter: invert(1);
  }
  .name_last {
    padding-left: 0!important;
  }

}

@include media-breakpoint-down(xl) {
  .hero {
    padding-top: 130px;
    background-size: cover;
  }
  .overflow-x-lg-scroll {
    overflow-x: scroll!important;
  }
}

@include media-breakpoint-down(sm) {
  .fs-1 {
    font-size: calc(1.325rem + 2vw) !important;
  }
  .fs-2 {
    font-size: calc(1.275rem + 1.5vw) !important;
  }
  .fs-3 {
    font-size: calc(1.25rem + 1vw) !important;
  }
  .fs-4 {
    font-size: calc(1.225rem + 0.5vw) !important;
  }
  .fs-5 {
    font-size: 1.2rem !important;
  }
  .fs-6 {
    font-size: 1rem !important;
  }
  p, span {
    font-size: 0.90rem !important;
    line-height: 1.7;
  }
  small, .small {
    font-size: 0.875rem !important;
  }
}

@include media-breakpoint-up(md) {
  .swiper-button-next {
    transform: translateX(-150%);
  }
  .swiper-button-prev {
    transform: translateX(150%);
  }
}
@include media-breakpoint-down(md) {
  .row-cols-costume > * {
    flex: 0 0 auto;
    width: 90%;
  }
}
